/* Write your CSS code here */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  margin-top: 40px;
}

.wave-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-image {
  height: 30px;
  width: 30px;
  margin-right: 7px;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .wave-image {
    height: 30px;
    width: 30px;
  }
}

.wave-text {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .wave-text {
    font-size: 18px;
  }
}

.nav-items-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .nav-items-container {
    width: 70%;
    margin-right: 2px;
  }
}

.nav-item {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
}
